header {
    //position: fixed;
    top: 0;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    background:#FE6CA2;
  }
   
  nav {
    display: flex;
    align-items: flex-end;
    //justify-content: space-between;
    transition: align-items .2s;
  }
     
  .toggle-menu {
    display: none;
    color: #fff;
    margin: 20px 10px 0 0;
    transition: margin .2s;
  }
  .top-header{
      background-color:#E13475;
      top: 0;
      width: 100%;
      padding: 0px;
      box-sizing: border-box;
  }
  .form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;

  }

  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  .container {  
    padding: 2px;
    }
     
    .search-box {  
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;  
    width: 99%; 
    height: 40px; 
    border-radius: 10px;  
    padding: 5px 50px 10px 15px;  
    position: relative;  
    background: #fff;  
    border: 1px solid #ddd;  
    -webkit-transition: all 200ms ease-in-out;  
    -moz-transition: all 200ms ease-in-out;  
    transition: all 200ms ease-in-out;
    }
     
    .search-box.hovered, .search-box:hover, .search-box:active {  
    border: 1px solid #aaa;
    }
     
    .search-box input[type=text] { 
     border: none;  
    box-shadow: none;  
    display: inline-block;  
    padding: 0;  
    background: transparent;
    }
     
    .search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {  
    box-shadow: none;
    }
     
    .search-box .search-btn {  
    position: absolute;  
    right: 2px;  
    top: 5px;  
    color: #aaa;  
    border-radius: 3px;  
    font-size: 21px;  
    padding: 0px 5px 1px;  
    -webkit-transition: all 200ms ease-in-out;  
    -moz-transition: all 200ms ease-in-out;  
    transition: all 200ms ease-in-out;
    }
     
    .search-box .search-btn:hover {  
    color: #fff;  
    background-color:#FE6CA2;
    } 
    .logo {
      display: block;
      max-width:100%;
      max-height:100%;
      width: auto;
      height: auto;
    }
    .img{
      width: 100%;
      height: 100%
    }
   /* .main-header{
      position: fixed;
      position: relative;

    }*/