<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sàn giao dịch điện tử</title>
</head>
<!--HEADER-->
<!--top header-->
<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-6">Thẻ VIP</div>
          <div class="col-6">Tìm 527 siêu thị</div>
        </div>
      </div>
      <div class="col-2">1800 6609</div>
      <div class="col-2">1800 6703</div>
      <div class="col-2">Kiểm tra đơn hàng</div>
      <div class="col-2"><img src="assets/images/top-ship.png" class="img"></div>
    </div>
  </div>
</div>
<!--MAIN HEADER-->
<header>
  <div class="main-header">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-2">
          <nav>
            <h1>
              <a href="" class="#"><img src="assets/logo/logotg1.png" alt="Logo" class="logo"></a>
            </h1>
          </nav>
        </div>
        <div class="col-8">
          <div class="container"> 
              <div class="row"> 
               <div class="col-md-12 sticky-top">
                  <div class="search-box"> 
                      <form class="search-form" action=""> <input class="form-control" placeholder="Tìm kiếm nhanh" type="text"> 
                       <button class="btn search-btn"> <i class="fa fa-search"></i> 
                       </button> 
                      </form> 
                     </div> 
               </div> 
              </div>
             </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-6">chuong</div>
                <div class="col-6">gio hang</div>
              </div>
            </div>
            <div class="col-6">dang nhap</div>
          </div>
        </div>

      </div>
  </div>

</div>
  </header>
<!--END HEADER-->