<!-- footer -->
<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <b>VỀ CON CƯNG</b><br>
                    <a href="#">Giới thiệu về Con cưng</a><br>
                    <a href="#">Tuyển dụng khối văn phòng</a><br>
                    <a href="#">Tuyển dụng khối siêu thị</a><br>
                    <a href="#">Chính sách bảo mật</a><br>
                    <a href="#">Điều khoản sử dụng</a><br>
                </div>
                <div class="col">
                    <b>HỖ TRỢ KHÁCH HÀNG</b><br>
                    <a href="#">Hotline miễn phí</a><br>
                    <a href="#">CSKH:18006703 (8h-22h)*</a><br>
                    <a href="#">Mua hàng:1800 6609 (7h:30-22h)</a><br>
                    <a href="#">(Tất cả các ngày trong tuần)</a><br>
                </div>
                <div class="col">
                    <b></b><br>
                    <a href="#">Tra cứu hoá đơn</a><br>
                    <a href="#">Mua và giao nhận Online</a><br>
                    <a href="#">Qui định và hình thức thanh toán</a><br>
                    <a href="#">Bảo hành và bảo trì</a><br>
                    <a href="#">Đổi trả và hoàn tiền</a><br>
                </div>
                <div class="col">
                    <b>ĐƠN VỊ VẬN CHUYỂN</b><br>
                    <div class="row">
                    <div class="col-6"><img src="#" alt="logo1" class="logo-img"></div>
                    <div class="col-6"><img src="#" alt="logo2" class="logo-img"></div>
                    </div>
                    <div class="row">
                        <div class="col-6"><img src="#" alt="logo1" class="logo-img"></div>
                        <div class="col-6"><img src="#" alt="logo2" class="logo-img"></div>
                        </div>
                </div>
                <div class="col">
                    <b>CÁCH THỨC THANH TOÁN</b><br>
                    <div class="row">
                        <div class="col-4"><img src="#" alt="logo1" class="logo-img"></div>
                        <div class="col-4"><img src="#" alt="logo2" class="logo-img"></div>
                        <div class="col-4"><img src="#" alt="logo3" class="logo-img"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><img src="#" alt="logo1" class="logo-img"></div>
                        <div class="col-4"><img src="#" alt="logo2" class="logo-img"></div>
                        <div class="col-4"><img src="#" alt="logo3" class="logo-img"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-2">2</div>
                        <div class="col-10">
                            <b>CÔNG TY CỔ PHẦN CON CƯNG</b><br>
                            <b>Điện thoại:</b>028 7300 6609<br>
                            <a href="#"><b>Email:</b>cskh@concung.com</a><br>
                            <b>ĐKKD:</b>028 7300 6609<br>
                            <b>Văn phòng:</b>Tầng 14 Toà nhà Phú Mỹ Hưng Tower, 08 Hoàng Văn Thái, P.Tân Phú, Q7, HC<br>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="#" alt="logo">
                </div>
                <div class="col-2">
                    <b>SCAN ĐỂ TẢI APP</b><br>
                    <img src="#" alt="app">

                </div>
                <div class="col-2">
                    <b>KẾT NỐI VỚI CHÚNG TÔI</b><br>
                    <div class="row">
                        <div class="col-4">
                            <img src="#" alt="logo1">
                        </div>
                        <div class="col-4">
                        <img src="#" alt="logo2"></div>
                        <div class="col-4">
                            <img src="#" alt="logo3">
                        </div>
                    </div>
                    
                </div>
        </div>
        </div>
    </div>
    <div>
    </div>
</footer>
