.footer{
  font: size 10px;
  color:black;
  background-color: #F9F9F9;
}
.top-footer{
  font: size 10px;
  color:black;
  background-color: #F9F9F9;
}
.bottom-footer{
  font: size 10px;
  color:black;
  background-color:#fff;
  padding-top: 20px;
}
#mainnav ul{
  background:#fff;
  list-style: none;
  padding: 0px;
  width: 200px;
  text-align: left;
}
#mainnav ul li{
  position:relative;
  width: 200px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #1D1F20;
}
#mainnav ul li a{
  text-decoration: none;
  color:#1D1F20;
  //font-weight: bold;
  padding: 0 0px;
  display: block;
}