<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div id="mainnav">
                    <ul>
                      <li class="#"><a href="#">Sữa bột công thức</a>
                        <ul class="sub-menu">
                          <li><a href="#">Video huong dan</a></li>
                          <li><a href="#">Wordpress</a>
                            <ul class="sub-menu2">
                              <li><a href="#">item 1</a></li>
                              <li><a href="#">item 2</a></li>
                              <li><a href="#">item 3</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Hosting-Domain</a></li>
                          <li><a href="#">SEO</a></li>
                          <li><a href="#">Tai nguyen</a></li>
                          <li><a href="#">Ma nguon mo</a></li>
                          <li><a href="#">Web development</a></li>
                          <li><a href="#">Cong cu</a>
                          <ul class="sub-menu2">
                              <li><a href="#"> item 1</a></li>
                              <li><a href="#"> item 2</a>
                                <ul class="sub-menu3">
                                  <li><a href="#">item 1.a</a></li>
                                  <li><a href="#">item 2.a</a></li>
                                  <li><a href="#">item 3.a</a></li>
                                </ul>
                              </li>
                              <li><a href="#">item 3</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Bỉm tã khuyến mãi</a></li>
                      <li><a href="#">Sữa nước, nước ép</a></li>
                      <li><a href="#">Bình sữa, bé bú</a></li>
                      <li><a href="#">Bột ăn dặm</a></li>
                      <li><a href="#">Sơ sinh, trẻ nhỏ</a></li>
                      <li><a href="#">Cháo, mì, mước sốt</a></li>
                      <li><a href="#">Chăm sóc gia đình</a></li>
                      <li><a href="#">Khăn: ướt, khô, vải khô</a></li>
                      <li><a href="#">Bánh kẹo dinh dưỡng</a></li>
                      <li><a href="#">Tắm gội, vệ sinh</a></li>
                      <li><a href="#">Thực phẩm, dinh dưỡng</a></li>
                      <li><a href="#">Sản phẩm cho mẹ</a></li>
                      <li><a href="#">Đồ chơi, sách, quà tặng</a></li>
                      <li><a href="#">Thời trang bé gái</a></li>
                      <li><a href="#">Thời trang bé trai</a></li>
                    </ul>
                  </div>
            </div>
                <div class="col-8" >
              
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" >
                        <div class="carousel-inner">
                          <div class="carousel-item active" style="z-index:1">
                            <img class="d-block w-100" src="assets/images/slide1.png" alt="First slide">
                          </div>
                          <div class="carousel-item" style="z-index:1">
                            <img class="d-block w-100" src="assets/images/slide2.jpg" alt="Second slide">
                          </div>
                          <div class="carousel-item" style="z-index:1">
                            <img class="d-block w-100" src="assets/images/slide3.png" alt="Third slide">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">1</div>
                        <div class="col">2</div>
                        <div class="col">3</div>
                        <div class="col">4</div>
                        <div class="col">5</div>
                      </div>
                 </div>
            <div class="col-2">rr</div>
        </div>
    </div>
</div>
<!--Deal online mỗi ngày-->

<!--Khuyến mãi lớn-->

<!--Compo tiết kiệm-->

<!--Dành riêng cho bố mẹ -->