
#mainnav{
  padding: 0px;
  margin: 0px;
  margin-top: 15px;
}
#mainnav ul{
  background:#fff;
  list-style: none;
  padding: 0px;
  width: 200px;
  text-align: left;
}
#mainnav ul li{
  position:relative;
  width: 200px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #1D1F20;
}




#mainnav ul li a{
  text-decoration: none;
  color:#1D1F20;
  //font-weight: bold;
  padding: 0 0px;
  display: block;
}
#mainnav li:hover{
  background: #FFF;
  background-color: #EE3E80;
}
#mainnav .sub-menu{
  position: absolute;
  left: 200px;
  top: 0px;
  width: 200px;
  display: none;
  text-align: left;
  border-left: 1px solid #fff;
  font-size: 90%;
  border-radius: 0px 10px 10px 0px;
  z-index: 1050;
}
#mainnav li:hover .sub-menu{
  display:block;
  background:#fff;
  color:black;
}

.sub-menu:before {
  content: '';
  width: 3rem;
  height: 2rem;
  z-index: 1000;
  position: absolute;
  left: -25px;
}

#mainnav .sub-menu2{
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  border-left: 1px solid #fff;
  border-radius: 0px 10px 10px 0px;
  display: none;
}
#mainnav .sub-menu li:hover .sub-menu2{
  display: block;
}
#mainnav .sub-menu3{
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  border-left: 1px solid #fff;
  border-radius: 0px 10px 10px 0px;
  display: none;
 
}
#mainnav .sub-menu2 li:hover .sub-menu3{
  display: block;
}
.content{
  background-color: #FFE9F1;
}
.slide{
  padding-top: 15px;
  padding-left: 12px;
}